
# ignore transient paths for pubsub tests
pubsub/venv/
pubsub/scripts/output/
pubsub/scripts/config-snapshot.json
pubsub/scripts/configs/snapshot.json
__pycache__/
.ipynb_checkpoints/

# Created by https://www.gitignore.io/api/go,visualstudiocode
# Edit at https://www.gitignore.io/?templates=go,visualstudiocode

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/go,visualstudiocode

### NodeJS

node_modules
dist

# ignore system files
.DS_Store
perf/impl/dotnet-libp2p/v1.0/bin/Debug/net9.0/PerfBenchmarks.deps.json
perf/impl/dotnet-libp2p/v1.0/bin/Debug/net9.0/PerfBenchmarks.pdb
perf/impl/dotnet-libp2p/v1.0/bin/Debug/net9.0/PerfBenchmarks.runtimeconfig.json
perf/impl/dotnet-libp2p/v1.0/obj/PerfBenchmarks.csproj.nuget.dgspec.json
perf/impl/dotnet-libp2p/v1.0/obj/PerfBenchmarks.csproj.nuget.g.props
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.sourcelink.json
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.pdb
perf/impl/dotnet-libp2p/v1.0/obj/project.assets.json
perf/impl/dotnet-libp2p/v1.0/obj/project.nuget.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenc.BDEA4B0F.Up2Date
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.AssemblyInfo.cs
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.AssemblyInfoInputs.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.assets.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.csproj.AssemblyReference.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.csproj.CoreCompileInputs.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.csproj.FileListAbsolute.txt
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.GeneratedMSBuildEditorConfig.editorconfig
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.genruntimeconfig.cache
perf/impl/dotnet-libp2p/v1.0/obj/Debug/net9.0/PerfBenchmarks.GlobalUsings.g.cs
perf/impl/dotnet-libp2p/v1.0/obj/PerfBenchmarks.csproj.nuget.g.targets
