{{ define "go" }}
[[groups]]
    id = "{{ .Id }}"
    instances = { count = 1 }
    builder = "docker:go"

    {{ with .Artifact }}
    [groups.run]
      artifact = "{{ . }}"
    {{ end }}

    [groups.run.test_params]
      iterations = "1"
{{ end }}

{{ $combinations := (load_resource "./combinations.toml") }}
{{ $artifacts := ( load_resource "./artifacts.toml" ) }}

[metadata]
  name = "test-interop-{{ $.Env.TestRunId }}-{{ $.Env.RunId }}"

[global]
  plan = "libp2p/ping"
  case = "ping"
  runner = "local:docker"
  concurrent_builds = 1

  [global.build_config]
    enable_go_build_cache  = false      # see https://github.com/testground/testground/issues/1361
    # disable testground's goproxy which hangs on github runners.
    go_proxy_mode          = "remote"
    go_proxy_url           = "https://proxy.golang.org"

  {{ range ( index $combinations.runs (atoi $.Env.TestRunId) ).groups }}
    {{ $v := (set . "Artifact" (index $artifacts .Id)) }}
    {{ template "go" (withEnv $v) }}
  {{ end }}
