<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nethermind" value="https://pkgs.dev.azure.com/nethermind/nethermind/_packaging/nethermind/nuget/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/NethermindEth/index.json" />
  </packageSources>
</configuration>