*.swp
/shadow.data
synctest*.data
/shadow.yaml
/graph.gml
=======
/*.data
/**/*/*.tar.gz
/**.tar.gz
/pubsub-shadow
**/gossipsub-bin
params.json
/venv
**/plots
.DS_Store
Dockerfile
docker-compose.yml
backup
timelines
experiment-results/**
__pycache__
