on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'hole-punch-interop/**'
  push:
    branches:
      - "master"
    paths:
      - 'hole-punch-interop/**'

name: libp2p holepunching interop test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-hole-punch-interop:
    runs-on: ubuntu-latest
# Uncomment to test for flakiness.
#    strategy:
#      matrix:
#        dim1: ['a', 'b', 'c', 'd', 'e']
#        dim2: [1, 2, 3, 4, 5]
#      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/run-interop-hole-punch-test
        with:
          s3-cache-bucket: ${{ vars.S3_LIBP2P_BUILD_CACHE_BUCKET_NAME }}
          s3-access-key-id: ${{ vars.S3_LIBP2P_BUILD_CACHE_AWS_ACCESS_KEY_ID }}
          s3-secret-access-key: ${{ secrets.S3_LIBP2P_BUILD_CACHE_AWS_SECRET_ACCESS_KEY }}
          worker-count: 16
