on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'hole-punch-interop/**'
  push:
    branches:
      - "master"
    paths:
      - 'hole-punch-interop/**'

name: libp2p holepunching interop test

jobs:
  run-hole-punch-interop:
    runs-on: ['self-hosted', 'linux', 'x64', '4xlarge'] # https://github.com/pl-strflt/tf-aws-gh-runner/blob/main/runners.tf
    strategy:
      matrix:
        dim1: ['a', 'b', 'c', 'd']
        dim2: [1, 2, 3, 4]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/run-interop-hole-punch-test
        with:
          s3-cache-bucket: libp2p-by-tf-aws-bootstrap
          s3-access-key-id: ${{ vars.S3_AWS_ACCESS_KEY_ID }}
          s3-secret-access-key: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          worker-count: 16
