on:
  workflow_dispatch:
  pull_request:
    paths:
      - "transport-interop/**"
      - ".github/actions/run-transport-interop-test/action.yml"
      - ".github/actions/run-transport-interop-test-selfhosted/action.yml"
      - ".github/workflows/transport-interop.yml"
  push:
    branches:
      - "master"
    paths:
      - "transport-interop/**"

name: libp2p transport interop test

jobs:
  run-transport-interop-selfhosted:
    runs-on: [self-hosted, linux, x64, ephemeral]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/run-transport-interop-test-selfhosted
        with:
          worker-count: 8
          cache-dir: /srv/cache
          test-ignore: "jvm-v1.2 x zig-v0.0.1 (quic-v1)|zig-v0.0.1 x jvm-v1.2 (quic-v1)|rust-chromium-v0.53 x jvm-v1.2 (ws)|js-v1.x x jvm-v1.2 (ws, noise, yamux)|js-v1.x x jvm-v1.2 (ws, noise, mplex)|rust-chromium-v0.53 x jvm-v1.2 (ws, noise, mplex)"
  run-transport-interop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/run-transport-interop-test
        with:
          s3-cache-bucket: ${{ vars.S3_LIBP2P_BUILD_CACHE_BUCKET_NAME }}
          s3-access-key-id: ${{ vars.S3_LIBP2P_BUILD_CACHE_AWS_ACCESS_KEY_ID }}
          s3-secret-access-key: ${{ secrets.S3_LIBP2P_BUILD_CACHE_AWS_SECRET_ACCESS_KEY }}
          worker-count: 16
          test-ignore: "jvm-v1.2 x zig-v0.0.1 (quic-v1)|zig-v0.0.1 x jvm-v1.2 (quic-v1)|rust-chromium-v0.53 x jvm-v1.2 (ws)|js-v1.x x jvm-v1.2 (ws, noise, yamux)|js-v1.x x jvm-v1.2 (ws, noise, mplex)|rust-chromium-v0.53 x jvm-v1.2 (ws, noise, mplex)"
  build-without-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Purposely not using secrets to replicate how forks will behave.
      - uses: ./.github/actions/run-transport-interop-test
        with:
          # It's okay to not run the tests, we only care to check if the tests build without cache.
          upload-results: false
          test-filter: '"no test matches this, skip all"'
